<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <h2><%= site_description %></h2>

    <% if (articles.length === 0) { %>
        <h2>Ningún artículo coincide con los criterios de búsqueda</h2>
    <% } else { %>

        <h2>Lista de artículos</h2>

        <ul>
        <% articles.forEach(function(article) { %>
        
        <% let message = (article.venta === true) ? "Se vende" : "Se busca"; %>
        
        <div class="item">
        <li><%= article.nombre %></li>
        <li><%= message %></li>
        <li><%= article.precio %></li>
        <li><%= article.tags %></li>
        <img class="images" src="<%= article.foto %>" alt="Foto" width="300" height="250"
        style="{ padding: 20px; }"> 
        <br/>
        </div>
        <% }); %>
        </ul>

    <% } %>

    </body>
</html>
