<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <div class="header-text">
        <h1>Bienvenido a <%= title %></h1>
        <h2><%= site_description %></h2>
    </div>
    <div class="header-images">
    
      <!--<div><img class="logo" src="images/logo.png" alt="Logo"></div> -->
      <div class="tags-container">
      <h3>Selecciona las categorías que te interesan</h3>
        <input type="button" id="motor-tag" class="tag-control" value="motor"> 
        <input type="button" id="mobile-tag" class="tag-control" value="mobile">
        <input type="button" id="lifestyle-tag" class="tag-control" value="lifestyle">  
      </div> 
    
    </div>
    

    <% if (articles.length === 0) { %>
        <h2>Ningún artículo coincide con los criterios de búsqueda</h2>
    <% } else { %>

        <h2>Lista de artículos</h2>
        <% let message; let articlePhoto; %>

        <div class="articles-container">
        <% articles.forEach(function(article) { %>
        
            <div class="article-container">
              <div>
                  <% message = (article.venta === true) ? "Se vende" : "Se busca"; %>
                  <% articlePhoto = "images/" + article.foto; %>
                  <p><%= article.nombre %></p>
                  <p><%= message %></p>
                  <p><%= article.precio %> euros</p>
                  <p><%= article.tags %></p>
              </div> 
              <div>
                  <img class="images" src= <%= articlePhoto %> alt="Foto">
              </div>
            </div>
        <br/>
        <% }); %>
        </div>

    <% } %>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascripts/tags.js"></script>

</html> 

