<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
        <h1>Bienvenido a <%= title %></h1>
        <h2><%= site_description %></h2>
        <img class="logo" src="images/logo.png" alt="Logo">
    </div>

    <% if (articles.length === 0) { %>
        <h2>Ningún artículo coincide con los criterios de búsqueda</h2>
    <% } else { %>

        <h2>Lista de artículos</h2>
        <% let message; let articlePhoto; %>

        <div class="articles-container">
        <% articles.forEach(function(article) { %>
        
            <div class="article-container">
              <div>
                  <% message = (article.venta === true) ? "Se vende" : "Se busca"; %>
                  <% articlePhoto = "images/" + article.foto; %>
                  <p><%= article.nombre %></p>
                  <p><%= message %></p>
                  <p><%= article.precio %> euros</p>
                  <p><%= article.tags %></p>
              </div> 
              <div>
                  <img class="images" src= <%= articlePhoto %> alt="Foto">
              </div>
            </div>
        <br/>
        <% }); %>
        </div>

    <% } %>

    </body>
</html>
