<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <div class="header-text">
        <h1>Bienvenido a <%= title %></h1>
        <h2><%= site_description %></h2>
    </div>
    <div class="header-images">
    
      <!--<div><img class="logo" src="images/logo.png" alt="Logo"></div> -->
      <div class="tags-container">
      <h3>Seleccione las categorías que le interesan</h3>
        <input type="button" id="motor-tag" class="tag-control" value="motor"> 
        <input type="button" id="mobile-tag" class="tag-control" value="mobile">
        <input type="button" id="lifestyle-tag" class="tag-control" value="lifestyle">
        <input type="button" id="work-tag" class="tag-control" value="work">
        <input type="button" id="submit-query" class="tag-query" value="Buscar">  
      </div> 
    
    </div>

    <% if (articles.length === 0) { %>
        <h2>Ningún artículo coincide con los criterios de búsqueda</h2>
    <% } else { %>

        <% let message; let articlePhoto; %>
    <% } %>
    
    <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><a href="?" class="home-link">Lista de anuncios</a></h1> 
      <p class="lead">Listando: <%= articles.length %> de <%= total %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead><tr>
          <th>Nombre</th>
          <th>Venta</th>
          <th style="text-align: right">Precio</th>
          <th>Foto</th>
          <th>Etiquetas</th>
        </tr></thead>
        
        <div id="articles-container">

        <tbody>
        <% articles.forEach(anuncio => { %>
        <% articlePhoto = "images/" + anuncio.foto; %>
          <tr>
            <td><%= anuncio.nombre %></td>
            <td style="text-align: center"><%= anuncio.venta ? 'Si' : 'No' %></td>
            <td style="text-align: center"><%= anuncio.precio / 100 %>€</td>
            <td><img class="images" src="<%= articlePhoto %>" alt="Foto"></td>
            <td style="text-align: center"><%= anuncio.tags %></td>
          </tr>
        <% }) %>

        </tbody>

        </div>

      </table>

      <p>Ejemplos:</p>

      <ul>
        <li><a href="?">Todos (max. 1000)</a></li>
        <li><a href="?start=2&limit=2">Paginado</a></li>
        <li><a href="?sort=precio">Ordenado por precio ascendente</a></li>
        <li><a href="?sort=-precio">Ordenado por precio descendente</a></li>
        <li><a href="?tags=mobile">Con etiqueta "mobile"</a></li>
      </ul>

    </div>
  </div>


    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascripts/tags.js"></script>

</html> 
